@import "touch-controls.css";
@import "fonts.css";

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

canvas {
}
